*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100dvh;
    background-image: url('london.jpg');
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.photo{
    width: 750px;
    height: 750px;
    margin-top: 40px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid transparent;
    animation: animateBorder 2s linear infinite;
    filter: blur(0.5px);
}
@keyframes animateBorder {
    0%{
        border-color: red;
    }
    50%{
        border-color: blue;
    }
    100%{
        border-color: green;
    }
}

.identité{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

p{
    filter: blur(1px);
    text-shadow: 0 0 20px #ff005b;
}

#first-name{
    font-size: xx-large;
    font-weight: 500;
    color: white;
}
#name{
    font-size: 60px;
    font-weight: 500;
    color: white;
}
#me{
    font-size: xx-large;
    font-weight: 500;
    color: white;
}
#occupation{
    font-size: 55px;
    font-weight: 500;
    color: white;
}
#text{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    background: linear-gradient( to left,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    outline: 2px solid white;
    transition: all .7s;
}

a:hover{
    text-shadow: 0 0 20px white;
    box-shadow: inset 0 0 20px rgba(255,255,255,.2),
    0 0 20px rgba(255,255,255,0.3);
    outline-color: rgba(255,255,255,0);
    outline-offset: 15px;
}

.drop{
    background: -webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1)), to(rgba(255,255,255,0.6)));
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%,rgba(255,255,255,0.6)100%);
    width: 1px;
    height: 89px;
    position: fixed;
    bottom: 200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;
}

@-webkit-keyframes fall {
    to {margin-top: 900px;}
}

@-moz-keyframes fall {
    to {margin-top: 900px;}
}

@media only screen and (max-width:450px){

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 20px;
    }
    .photo{
        width: 350px;
        height: 300px;
    }
    .identité{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }
    #first-name{
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
    #name{
        font-size: 30px;
        font-weight: 500;
        color: white;
    }
    #me{
        font-size: 15px;
        font-weight: 500;
        color: white;
    }
    #occupation{
        font-size: 25px;
        font-weight: 500;
        color: white;
    }
    #text{
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
    a{
        width: 150px;
        height: 25px;
    }
    
    
}