*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content:center;
    align-items:start;
    height: 100dvh;
    background-image: url('london.jpg');
}

main{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.comp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 300px;
}
p{
    font-size: 25px;
    font-weight: 900;
}
.drop{
    background: -webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1)), to(rgba(255,255,255,0.6)));
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%,rgba(255,255,255,0.6)100%);
    width: 1px;
    height: 89px;
    position: fixed;
    bottom: 200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;
}

@-webkit-keyframes fall {
    to {margin-top: 900px;}
}

@-moz-keyframes fall {
    to {margin-top: 900px;}
}

